<div class="additional-gallery-image-wrapper">
    <i class="material-icons additional-gallery-image-delete text-info" data-delete-url="{{ path('additional_gallery_delete', {'idImage' : image.id}) }}">delete</i>
    <img src="{{ image.uri }}" class="additional-gallery-image">
</div>